/*
 * Post menu
 */

.post-menu {
  padding-left: 20px;
  min-width: 200px;
  max-width: 200px;

  .post-menu-title {
    font-size: $base-font-size * 1.5;
    margin-bottom: 14px;
    font-weight: 600;
  }

  .post-menu-content {
    ul {
      $indent: #{calc($base-font-size / 4)};
      $active-bgcolor: #000;

      @for $i from 2 through 6 {
        .h-h#{$i} {
          padding-inline-start: ($i - 2) * 8px;
          font-size: $base-font-size;
          line-height: #{$base-line-height};
        }
      }

      a {
        display: flex;
        padding: 2px 8px;
        color: #000;

        * {
          pointer-events: none;
        }

        &:hover {
          font-weight: $base-font-weight * 1.5;
        }
      }

      .active {
        font-weight: $base-font-weight * 1.5;
        background-color: $header-background-color;
        transition: background 0.5s;
        border: solid 2.5px #000;
        margin-left: -2px;
        

        &:hover {
          // background-color: lighten($active-bgcolor, 2%);
        }

        a {
          color: #000;
        }
      }
    }
  }
}
