/*
 * Post menu
 */

.post-menu {
  padding-left: 20px;
  min-width: 200px;
  max-width: 230px;

  .post-menu-title {
    font-size: $base-font-size * 1.5;
    margin-bottom: 14px;
    font-weight: 600;
  }

  .post-menu-content {
    ul {
      border-left: 0px solid #000;
      $indent: #{calc($base-font-size / 4)};
      $active-bgcolor: #000;

      @for $i from 2 through 6 {
        .h-h#{$i} {
          padding-inline-start: ($i - 2) * 4px;
          font-size: $base-font-size;
          line-height: 1.4;
        }
      }

      a {
        display: flex;
        padding: 2px 8px;
        color: #000;

        * {
          pointer-events: none;
        }

        // &:hover {
        //   text-decoration: none;
        //   color: lighten($text-color, 30%)!important;
        // }
      }

      .active {
        background-color: $active-bgcolor;
        transition: background 0.5s;
        border-left: 0px solid #000;
        margin-left: 0px;

        &:hover {
          background-color: lighten($active-bgcolor, 2%);
        }

        a {
          color: #fff;
        }
      }
    }
  }
}
