@charset "utf-8";

// Webfonts
@font-face {
  font-family: 'PyeojinGothic';
  src: url('../../assets/fonts/PyeojinGothic-Light.woff2') format('woff2');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
  font-weight: 300;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('../../assets/fonts/PyeojinGothic-Regular.woff2') format('woff2');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
  font-weight: 400;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('../../assets/fonts/PyeojinGothic-Medium.woff2') format('woff2');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
  font-weight: 500;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('../../assets/fonts/PyeojinGothic-SemiBold.woff2') format('woff2');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
  font-weight: 600;
}

@font-face {
  font-family: 'PyeojinGothic';
  src: url('../../assets/fonts/PyeojinGothic-Bold.woff2') format('woff2');
  unicode-range: U+AC00-D7A3, U+1100-11FF, U+3130-318F;
  font-weight: 700;
}

@import url("https://cdn.jsdelivr.net/gh/wanteddev/wanted-sans@v1.0.3/packages/wanted-sans/fonts/webfonts/variable/split/WantedSansVariable.min.css");



$base-font-family: PyeojinGothic, Wanted Sans Variable, Helvetica Neue, Helvetica, Arial, sans-serif, !default;
$base-font-size: 14px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.6 !default;
$base-transition-duration: 0.3s !default;

$spacing-unit:     30px !default;

$text-color:       #000000 !default;
$background-color: map-get($brand-colors, "pageBackground") !default;

$grey-color:       #777 !default;
$grey-color-light: #000 !default;
$grey-color-dark:  #f3f3f1 !default;

$white-color: #f3f3f1 !default;

$table-text-align: left !default;

$header-height: $base-line-height * $base-font-size * 2.85 !default;
$header-text-color: invert($theme-color) !default;
$header-background-color: map-get($brand-colors, "pageBackground") !default;

$footer-height: $header-height * 1.05 !default;
$footer-text-color: lighten(invert($theme-color), 25%) !default;
$footer-background-color: darken($theme-color, 5%) !default;

$banner-height: 640px !default;
$banner-text-color: #f3f3f1 !default;
$banner-background: rgba(0,0,0,0.8) !default;

// Width of the content area
// $content-width:    920px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: #{$spacing-unit / 2};
//     padding-left: #{$spacing-unit / 2};
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "yat/base",
  "yat/layout",
  "yat/dark",
  "misc/theme-toggle",
  "misc/article-menu",
  "misc/common-list",
  "misc/google-translate",
  "misc/gitment",
  "misc/click-to-top"
;