{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- assign name = 'excerpt.image_style' -%}
{%- include functions.html func='get_value' default='z' -%}
{%- assign image_style = return | append: '-image-style' -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">
  <div class="top-panel">
    <ul class="post-list {{ image_style }}">
      {%- assign post_item_class = "top-post" -%}
      {%- assign posts = site.posts
        | where_exp: "item", "item.top > 0"
        | sort: "top" -%}
      {%- for post in posts -%}
        {%- include views/pagination-item.html -%}
      {%- endfor -%}
    </ul>
  </div>
  <!-- <script src="/assets/js/scroll-horizontal.js"></script> -->

  <!-- <div class="wavy-line"></div> -->

  <div class="panels-wrapper">

    {%- assign travel_posts = paginator.posts | where_exp: "post", "post.categories contains 'Travel'" -%}

    <div class="left-panel">
      <ul class="post-list {{ image_style }}">
        {%- for post in travel_posts -%}
          {%- if post.top != nil and post.top != false and post.top != '' -%}
            {%- include views/pagination-item.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="right-panel">
      <ul class="post-list {{ image_style }}">
        {%- for post in travel_posts -%}
          {%- if post.top == nil or post.top == false or post.top == '' -%}
            {%- include views/pagination-item.html -%}
          {%- endif -%}
        {%- endfor -%} 
      </ul>
    </div>
  </div>

  <!-- <div class="wavy-line"></div> -->

  <div class="panels-wrapper2">

    {%- assign travel_posts = paginator.posts | where_exp: "post", "post.categories contains 'Home\s'" -%}

    <div class="left-panel2">
      <ul class="post-list {{ image_style }}">
        {%- for post in travel_posts -%}
          {%- if post.top != nil and post.top != false and post.top != '' -%}
            {%- include views/pagination-item.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="right-panel2">
      <ul class="post-list {{ image_style }}">
        {%- for post in travel_posts -%}
          {%- if post.top == nil or post.top == false or post.top == '' -%}
            {%- include views/pagination-item.html -%}
          {%- endif -%}
        {%- endfor -%} 
      </ul>
    </div>
  </div>

  <!-- <div class="wavy-line"></div> -->

  <div class="panels-wrapper3">

    {%- assign travel_posts = paginator.posts | where_exp: "post", "post.categories contains 'Book'" -%}

    <div class="left-panel3">
      <ul class="post-list {{ image_style }}">
        {%- for post in travel_posts -%}
          {%- if post.top != nil and post.top != false and post.top != '' -%}
            {%- include views/pagination-item.html -%}
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </div>
    <div class="right-panel3">
      <ul class="post-list {{ image_style }}">
        {%- for post in travel_posts -%}
          {%- if post.top == nil or post.top == false or post.top == '' -%}
            {%- include views/pagination-item.html -%}
          {%- endif -%}
        {%- endfor -%} 
      </ul>
    </div>
  </div>

  <script src="/assets/js/scroll-sync.js"></script>

  <!-- Pagination links -->
  {%- if paginator.posts.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
