{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- assign name = 'excerpt.image_style' -%}
{%- include functions.html func='get_value' default='z' -%}
{%- assign image_style = return | append: '-image-style' -%}

{%- if paginator.posts.size > 0 -%}
<div class="pagination">

  {%- assign sortable_list = "" | split: "" -%}
  {%- for category_data in site.categories -%}
    {%- assign category_name = category_data[0] -%}
    {%- assign posts_in_category = category_data[1] -%}
    
    {%- assign posts_with_banner = posts_in_category | where_exp: "item", "item.banner" -%}

    {%- if posts_with_banner.size > 0 -%}
      {%- assign latest_post_timestamp = posts_with_banner.first.date | date: '%s' -%}
      {%- assign post_count_padded = posts_with_banner.size | prepend: '0000' | slice: -4, 4 -%}
      
      {%- assign sort_string = latest_post_timestamp | append: '#' | append: post_count_padded | append: '#' | append: category_name -%}
      {%- assign sortable_list = sortable_list | push: sort_string -%}
    {%- endif -%}
  {%- endfor -%}

  {%- assign sorted_temp_list = sortable_list | sort | reverse -%}

  {%- assign sorted_categories = "" | split: "" -%}
  {%- for sort_string in sorted_temp_list -%}
    {%- assign category_name = sort_string | split: '#' | last -%}
    {%- assign sorted_categories = sorted_categories | push: category_name -%}
  {%- endfor -%}


  <div class="top-panel">
    <ul class="post-list {{ image_style }}">
      {%- for category in sorted_categories -%}
        {%- assign posts_with_banner = site.categories[category] | where_exp: "item", "item.banner" -%}
        {%- assign latest_post_in_category = posts_with_banner | first -%}

        {%- if latest_post_in_category -%}
          {%- assign post = latest_post_in_category -%}
          {%- include views/pagination-item.html -%}
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>


  {%- for category in sorted_categories -%}
    {%- assign panel_posts = paginator.posts 
        | where_exp: "post", "post.categories contains category" 
        | where_exp: "post", "post.banner" -%}

    {%- if panel_posts.size > 0 -%}
      <div class="panels-wrapper{% if forloop.index > 1 %}{{ forloop.index }}{% endif %}">
        
        <div class="left-panel{% if forloop.index > 1 %}{{ forloop.index }}{% endif %}">
          <ul class="post-list {{ image_style }}">
            {%- assign post = panel_posts[0] -%}
            {%- include views/pagination-item.html -%}
          </ul>
        </div>

        <div class="right-panel{% if forloop.index > 1 %}{{ forloop.index }}{% endif %}">
          <ul class="post-list {{ image_style }}">
            {%- for i in (1..5) -%}
              {%- if panel_posts[i] -%}
                {%- assign post = panel_posts[i] -%}
                {%- include views/pagination-item.html -%}
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>

      </div>
    {%- endif -%}
  {%- endfor -%}
  
  <script src="/assets/js/scroll-sync.js"></script>


  {%- if paginator.total_pages > 1 -%}
    {%- include views/paginator.html -%}
  {%- endif -%}

</div>
{%- endif -%}