<a class="site-brand-inner" rel="author" href="{{ "/" | relative_url }}">
  <!-- Page logo -->
  <img class="site-logo" title="{{ site.title | escape }}" src="" onerror="this.style.display='none'">
  
  <!-- Disabled favicon and site title -->
  {%- if page.banner or page.url == "/" -%}
    <span class="site-brand-inner-line01">49</span>
    <span class="site-brand-inner-line02">Aachen, Deutschland</span>
    <span class="site-brand-inner-line02">yxxxxxxxxnxx</span>
    <span class="site-brand-inner-line03">50.7753° N, 6.0839° E</span>
  {%- else -%}
    <span class="site-brand-inner-line01-mono">49</span>
    <span class="site-brand-inner-line02-mono">Aachen, Deutschland<br>yxxxxxxxxnxx</span>
    <span class="site-brand-inner-line03-mono">50.7753° N, 6.0839° E</span>
  {%- endif -%}
</a>
